
<!-- Main content -->
  <div class="main-content">
    <!-- Header -->
          <div class="container-fluid" style="background-color: #325aa8;">
        <div class="row">
            <h1 class="text-white">Introduction</h1>
        </div>
    </div>
	<br>
	<br>
	<br>
    <!-- Page content -->
    <div id="firstGraphCon">
      <div style="color:black;" class='row'>
        <div style="height:50%;width:80%;color:black;background:#fdfdfd;'fontSize':20;margin-right:auto;margin-left:auto;" id="firstGraph"></div>
        <div style="height:50%;width:80%;color:black;background:#fdfdfd;'fontSize':20;margin-right:auto;margin-left:auto;" id="secondGraph"></div>
        <div style="height:50%;width:80%;color:black;background:#fdfdfd;'fontSize':20;margin-right:auto;margin-left:auto;" id="thirdGraph"></div>
      </div>
    </div>

    <script type="text/javascript"> 
    
    $(document).ready(function () {
      UsersComparison();
      postsovertime();
    });

    </script>

    <div id="container">
</div>
  </div>



