
<!-- Main content -->
<div class="main-content">
    <!-- Header -->
          <div class="container-fluid" style="background-color: #325aa8;">
        <div class="row">
            <h1 class="text-white">TWON Analysis</h1>
        </div>
    </div>
	<br>
	<br>
	<br>
    <!-- Page content -->
    <div id="firstGraphCon">
      <div style="color:black;" class='row'>
        <div style="height:50%;width:90%;color:black;background:#fdfdfd;'fontSize':40;margin-right:auto;margin-left:auto;margin-bottom: 70px;" id="secondGraph"></div>
        <div style="height:50%;width:90%;color:black;background:#fdfdfd;'fontSize':40;margin-right:auto;margin-left:auto;margin-bottom: 70px;" id="fourthGraph"></div>

        <!-- <div style="height:50%;width:80%;color:black;background:#fdfdfd;'fontSize':20;margin-right:auto;margin-left:auto;margin-bottom: 20px;" id="firstGraph"></div>-->
      </div>
    </div>

    <script type="text/javascript"> 
    
    $(document).ready(function () {
      //UsersComparison();
      postsovertime();
      viewershipsOfPosts();
      totalRankedPosts();
      
    });

    </script>

    <div id="container">
</div>
  </div>



